<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Bem-vindo</title>
        <link rel="stylesheet" href="../styless.css">
    </head>
    <body>
        <header>
            <h1>EDUCA PRIME</h1>
        </header>
        <main class="wlcome-container">
            <h2>Bem-vindo à Educa Prime!</h2>
            <p>Login realizado com sucesso. Agora você pode explorar o conteúdo exclusivo para alunos.</p>
        </main>
        <footer>
            <p>Educa Prime &copy; 2025</p>
        </footer>
    </body>
</html>